[submodule "fw/ext/tinyusb"]
	path = fw/ext/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "fw/ext/esp32/esp-at"]
	path = fw/ext/esp32/esp-at
	url = https://github.com/espressif/esp-at.git
[submodule "third_party/openMSX"]
	path = third_party/openMSX
	url = https://github.com/openMSX/openMSX.git
