[submodule "fw/ext/src/tinyusb"]
	path = fw/ext/src/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "fw/ext/src/esp-at"]
	path = fw/ext/src/esp-at
	url = https://github.com/espressif/esp-at.git
[submodule "fw/ext/src/openmsx"]
	path = fw/ext/src/openmsx
	url = https://github.com/openMSX/openMSX.git
